name: books_uploader_app
description: A new Flutter project.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  http: ^1.2.1
  dio: ^5.4.0
  mime: ^1.0.4
  intl: ^0.18.1
  image_picker: ^1.0.7
  get: ^4.6.6
  flutter_phone_direct_caller: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/
